@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

input, button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-family: cursive;
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(280, 11%, 11%);
  font-size: 1.8rem;
  line-height: 1, 9;
}

.h1 {
  font-size: 90px;
  color: white;
  font-family: "Rubik Puddles", cursive;
  letter-spacing: 4px;
  line-height: 1;
  text-align: center;
}

.h2 {
  font-size: 60px;
  color: white;
  font-family: "Rubik Puddles", cursive;
  line-height: 1;
  text-align: center;
  top: -50px;
}

.h3 {
  color: white;
  font-family: "Rubik Puddles", cursive;
  font-weight: 800;
  line-height: 1;
}

:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color: hsla(258, 96%, 67%, 0.75);
}

a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}
a span {
  color: hsl(280, 11%, 11%);
  content: "";
  inset: 0;
  transform: skewX(-16deg);
  padding: 18px, 35px;
  transition: 0.6s;
  position: center;
}
a:hover span {
  color: white;
}
a:active span {
  transform: scale(0.9);
}

.skewBg {
  position: relative;
  z-index: 1;
}
.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(-16deg);
  background-color: hsla(258, 96%, 67%, 0.75);
  z-index: -1;
  width: 150px;
  padding: 35px 50px;
}

.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  color: silver;
  font-size: 30px;
  margin-block-end: 10px;
  top: -50px;
}

.section-title::after {
  content: url(../images/subrayado-título.png);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  position: relative;
  min-height: 1px;
}
.header .header-bottom {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  background-color: hsl(237, 18%, 26%);
  padding-block: 25px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
}
.header .header-bottom .container {
  display: flex;
  background-color: hsl(237, 18%, 26%);
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  color: white;
  font-family: "Lilita One", cursive;
  font-size: 4rem;
}
.header .navbar-toggler {
  color: white;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}
.header .navbar::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.navbar {
  background-color: white;
}
@media (max-width: 576px) {
  .navbar {
    padding: 20px !important;
  }
}

.navbarNav {
  flex-direction: row;
}

.navbar-item {
  font-family: "Lilita One", cursive;
  font-weight: 700;
  font-size: 20px;
  color: hsla(258, 51%, 23%, 0.75);
}

.navbar-link:hover {
  color: white !important;
}

.navbar-link:active {
  color: hsla(258, 96%, 67%, 0.75) !important;
}

.hero-banner {
  display: none;
}

.hero {
  padding: 60px;
  margin-block-start: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 80vh;
  display: grid;
  align-items: center;
}

.hero-subtitle {
  color: hsla(258, 96%, 67%, 0.75);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero-title {
  margin-block: 15px, 12px;
}

.hero-text {
  color: hsl(0, 2%, 82%);
  margin-block-end: 45px;
  text-align: center;
}

.hero-content {
  text-align: center;
}

/*NOSOTROS*/
.section-wrapper {
  position: relative;
  background-image: url("../images/seccion-nosotros-juegos.png");
  background-repeat: no-repeat;
  background-color: hsla(258, 51%, 23%, 0.75);
  margin-block-start: 140px;
}
.section-wrapper .box-container {
  justify-content: center;
  text-align: center;
}
.section-wrapper .box-container .box {
  color: silver;
  font-size: 25px;
  margin-block-end: 10px;
  top: -50px;
}
.section-wrapper .video {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/*JUEGOS*/
.featured-game {
  background-image: url("../images/seccion-nosotros-juegos.png");
  background-repeat: no-repeat;
  margin-block-start: 90px;
}
.featured-game .section-title {
  color: white;
  margin-block-end: 90px;
}
.featured-game .has-scrollbar {
  gap: 0;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar {
  display: flex;
  place-items: center;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  border-radius: 2rem;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
}

/*IMAGENES SECCION JUEGOS*/
.img-cover {
  width: 100%;
  height: 100%;
}

/*BLOG*/
.blog {
  background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg") no-repeat center;
  position: relative;
  margin-block-start: 120px;
}

.blog .section-title {
  color: white;
}
.blog .section-text {
  color: hsl(0, 0%, 42%);
  margin-block: 50px 60px;
}
.blog .img-cover {
  border-radius: 1rem;
}
.blog-list {
  display: grid;
  gap: 50px;
}
.blog-card .card-banner {
  margin-block-end: 30px;
}
.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: silver;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-card .card-meta-item a.item-text {
  transition: 0.25s ease;
}
.blog-card .card-meta-item a.item-text:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
}
.blog-card .card-title {
  color: white;
  font-size: 2.2rem;
  font-family: "Lilita One", cursive;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3px;
  margin-block: 10px 15px;
  transition: 0.25s ease;
}
.blog-card .card-title:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
}
.blog-card .card-text {
  color: hsl(0, 0%, 42%);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
  margin-block-end: 15px;
}

.blog-card .card-link {
  color: hsla(258, 96%, 67%, 0.75);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}
.blog-card .card-link:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
}

/*PRODUCTOS*/
.shop {
  background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg") no-repeat center;
  position: relative;
  margin-block-start: 140px;
}
.shop .section-title {
  color: white;
}
.shop .section-text {
  color: hsl(0, 0%, 42%);
  margin-block: 50px 60px;
}
.shop .img-cover {
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  height: 100%;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
}
.shop-list {
  display: grid;
  gap: 50px;
}
.shop-card .card-banner {
  margin-block-end: 30px;
}
.shop-card .card-title {
  color: white;
  font-size: 2.2rem;
  font-family: "Lilita One", cursive;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  margin-block: 10px 15px;
  transition: 0.25s ease;
}
.shop-card .card-title:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
}

.shop-card .card-link {
  color: hsla(258, 96%, 67%, 0.75);
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}
.shop-card .card-link:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
}
.shop-card .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(258, 96%, 67%, 0.75);
}
.shop-card .card-btn {
  color: hsla(258, 96%, 67%, 0.75);
  padding: 7px;
  border: 2px solid hsl(274, 21%, 23%);
  border-radius: 4px;
  transition: 0.25s ease;
}
.shop-card .card-btn:is(:hover, :focus) {
  background-color: hsla(258, 96%, 67%, 0.75);
  color: hsl(277, 25%, 10%);
  border-color: hsla(258, 96%, 67%, 0.75);
}

/*FOOTER*/
.footer {
  color: hsl(220, 6%, 59%);
}
.footer-top {
  padding-block-end: 120px;
}
.footer-top .container {
  display: grid;
  gap: 50px;
}
.footer .logo {
  margin-block-end: 35px;
}
.footer .footer-text,
.footer .contact-item {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}
.footer .footer-text {
  margin-block-end: 15px;
}
.footer .contact-item:not(:last-child) {
  margin-block-end: 10px;
}
.footer .contact-item {
  display: flex;
  align-items: flex-start;
}
.footer .contact-item .contact-icon {
  margin-block-start: 3px;
  font-size: 17px;
}
.footer .footer-list-title {
  position: relative;
  color: silver;
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  font-weight: 800;
  padding-block-end: 20px;
  margin-block-end: 35px;
}

.footer .footer-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: hsla(258, 96%, 67%, 0.75);
}
.footer .footer-link {
  font-size: 1.9rem;
  max-width: max-content;
  transition: 0.25s ease;
  padding-block: 8px;
  font-weight: 500;
}
.footer .footer-link:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
  transform: translateX(5px);
}
.footer .social-wrapper {
  margin-block-end: 50px;
}
.footer .social-wrapper .social-list {
  display: flex;
  gap: 10px;
}
.footer .social-wrapper .social-list .social-link {
  color: white;
  padding: 10px;
  border-radius: 2px;
}

/*MAPA*/
.mapa {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  width: fit-content;
}

/* COPYRIGHT */
.copyright {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: hsla(258, 96%, 67%, 0.75);
}

/* TIPO DE MEDIA */
/* responsive para una pantalla de más de 375px */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    width: 100%;
    margin-inline: auto;
  }
  .section {
    padding-block: 170px;
    display: flex;
  }
  a {
    font-family: "Lilita One", cursive;
  }
  .h1 {
    font-family: "Rubik Puddles", cursive;
    letter-spacing: 4px;
    line-height: 1;
    text-align: center;
  }
  p {
    font-family: "Lilita One", cursive;
  }
  .h1 {
    font-size: 5rem;
  }
  /*NAVBAR*/
  .logo {
    font-size: 3.5rem;
    color: white;
  }
  .navbar {
    justify-content: space-between;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .navbar-list {
    position: relative;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .navbar-list-item {
    margin: 0 1.6rem;
    line-height: 1.7;
  }
  .navbar-list-item-link {
    font-size: 1.5rem;
  }
  .navbar-list-item-link.active {
    position: absolute;
  }
  .navbar-list-item-link.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: -3px;
  }
  /*HEADER */
  .header {
    position: relative;
    min-height: 1px;
  }
  .header-bottom {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    background-color: hsl(237, 18%, 26%);
    padding-block: 30px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .header-bottom .container {
    display: flex;
    background-color: hsl(237, 18%, 26%);
    justify-content: space-between;
    align-items: center;
  }
  .header-actions {
    gap: 45px;
  }
  /* NOSOTROS */
  .search-container .search-field, .search-container .search-submit {
    font-size: 3.6rem;
  }
  /* JUEGOS */
  .featured-game .scrollbar-item {
    min-width: 90%;
  }
  /* BLOG */
  .blog {
    background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg");
    position: relative;
    margin-block-start: 150px;
  }
  .blog .section-title {
    color: white;
  }
  .blog .section-text {
    color: hsl(0, 0%, 42%);
    margin-block: 50px 60px;
  }
  .blog-list {
    grid-template-columns: 80%;
    justify-content: center;
    display: grid;
  }
  /* PRODUCTOS */
  .shop {
    position: relative;
    background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg") repeat;
    margin-block-start: 170px;
  }
  .shop-list {
    grid-template-columns: 80%;
    justify-content: center;
  }
  /* FOOTER */
  .footer-top .container {
    grid-template-columns: 1fr 1fr;
    display: block;
  }
  .footer-brand,
  .footer-wrapper {
    grid-column: 1/1;
  }
}
/* responsive para una pantalla de más de 576px */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
  .h1 {
    --fs-2: 7rem;
    font-size: var(--fs-2);
  }
  /* HEADER */
  .header {
    position: relative;
    min-height: 1px;
  }
  .header-bottom {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    background-color: hsl(237, 18%, 26%);
    padding-block: 25px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .header-bottom .container {
    display: flex;
    background-color: hsl(237, 18%, 26%);
    justify-content: space-between;
    align-items: center;
  }
  .header-actions {
    gap: 40px;
  }
  /* NOSOTROS */
  .search-container :is(.search-field, .search-submit) {
    font-size: 3.6rem;
  }
  /* JUEGOS */
  .featured-game .scrollbar-item {
    min-width: 50%;
  }
  /* BLOG */
  .blog {
    background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg") repeat center;
    position: relative;
    margin-block-start: 160px;
  }
  .blog-list {
    grid-template-columns: 75%;
    justify-content: center;
  }
  /* PRODUCTOS */
  .shop {
    position: relative;
    background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url("../images/seccion-blog-productos.jpg") repeat;
    margin-block-start: 160px;
  }
  .shop-list {
    grid-template-columns: 74%;
    justify-content: relative;
  }
  /* FOOTER */
  .footer-top .container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-brand,
  .footer-wrapper {
    grid-column: 1/3;
  }
}
/* responsive para una pantalla de más de 768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .scrollbar-item {
    min-width: calc(50% - 15px);
  }
  /* HERO */
  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }
  .header {
    position: relative;
    min-height: 1px;
  }
  .header-bottom {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    background-color: hsl(237, 18%, 26%);
    padding-block: 25px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .header-bottom .container {
    display: flex;
    background-color: hsl(237, 18%, 26%);
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .navbar-list-item {
    margin: 0 2.4rem;
  }
  .navbar-list-item-link {
    font-size: 1.7rem;
  }
  .navbar-list-item-link.active {
    position: relative;
  }
  .navbar-list-item-link.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -3px;
  }
  /* BLOG */
  .blog-list {
    grid-template-columns: 1fr 1fr;
  }
  /* PRODUCTOS */
  .shop-list {
    grid-template-columns: 1fr 1fr;
  }
  /* FOOTER */
  .footer-brand,
  .footer-wrapper {
    grid-column: auto;
  }
  .footer-bottom {
    text-align: left;
  }
  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
/* responsive para una pantalla de más de 992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  :is(.header, .hero, .live-match) .container {
    max-width: unset;
  }
  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }
  .section {
    padding-block: 220px;
  }
  /* HEADER */
  .header-top {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }
  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-title {
    color: white;
    font-family: "Lilita One", cursive;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .nav-toggle-btn {
    display: none;
  }
  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }
  .navbar-list {
    display: block;
  }
  .navbar-item:not(:last-child) {
    border-block-end: none;
  }
  .navbar-link {
    color: white;
    font-family: "Lilita One", cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 20px;
  }
  .navbar-link::before {
    display: block;
    opacity: 0;
    transition: 0.25s ease;
  }
  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
    color: hsl(277, 25%, 10%);
  }
  .navbar-link:is(:hover, :focus)::before {
    opacity: 1;
  }
  /* INICIO */
  .hero {
    text-align: left;
  }
  .hero-banner {
    display: block;
  }
  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
  }
  .btn {
    margin-inline: 0;
  }
  /* NOSOTROS */
  .latest-game .has-scrollbar {
    padding-block-end: 0;
  }
  /* JUEGOS */
  .featured-game .scrollbar-item {
    min-width: 33.33%;
  }
  /* BLOG */
  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  /* PRODUCTOS */
  .shop-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  /* FOOTER */
  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    column-gap: 80px;
    display: block;
  }
}
/* responsive para una pantalla de más de 1200px */
@media (min-width: 1200px) {
  .container,
  :is(.header, .hero, .live-match) .container {
    max-width: 1230px;
  }
  .h1 {
    --fs-2: 7.5rem;
    font-size: 90px;
  }
  .h2 {
    font-size: 60px;
    color: white;
    font-family: "Rubik Puddles", cursive;
    line-height: 1;
    text-align: center;
    margin-block-start: 20px;
  }
  .scrollbar-item {
    min-width: calc(25% - 22.5px);
  }
  .section {
    padding-block: 120px;
  }
  /* HEADER */
  .header {
    position: relative;
    min-height: 1px;
  }
  .header-bottom {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    background-color: hsl(237, 18%, 26%);
    padding-block: 25px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .header-bottom .container {
    display: flex;
    background-color: hsl(237, 18%, 26%);
    justify-content: space-between;
    align-items: center;
  }
  .header-bottom::before {
    width: 270px;
  }
  .navbar-link {
    font-size: 1.7rem;
    padding-inline: 40px;
    text-align: center;
    width: 150px;
  }
  /* INICIO */
  .hero .container {
    grid-template-columns: 1fr 1fr;
  }
  /*NOSOTROS*/
  .section-wrapper {
    margin-block-start: 160px;
    position: relative;
    background-repeat: no repeat;
  }
  .video {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  /* JUEGOS */
  .featured-game {
    background-image: url("../images/seccion-nosotros-juegos.png");
    background-repeat: repeat;
    margin-block-start: 170px;
  }
  .featured-game .has-scrollbar {
    padding-block-end: 0;
  }
  .featured-game .scrollbar-item {
    min-width: 25%;
  }
  /* FOOTER */
  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
    display: flex;
    margin-block-start: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
