@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300&family=Rubik+Puddles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}


input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }


html {
  font-family: 'Lilita One', cursive;;
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(280, 11%, 11%);
  font-size: 1.8rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }



.container { padding-inline: 15px; }

.section { padding-block: 120px }

/* TITULOS Y SUBTITULOS*/

.h1 {
  font-size: 77px;
  color: white;
  font-family: 'Rubik Puddles', cursive;
  letter-spacing: 4px;
  line-height: 1;
  text-align: center;
  
}

.h2 {
  font-size: 40px;
  color: #fff;
  font-family: 'Rubik Puddles', cursive;
  line-height: 1;
  text-align: center;
  top: -50px;
}

.h3 {
  color: #fff;
  font-family: 'Rubik Puddles', cursive;
  font-weight: 800px;
  line-height: 1;
}

:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color: hsla(258, 96%, 67%, 0.75);
}

/*BOTON LEER MAS*/

.btn {
  margin-inline: auto;
  color: hsl(277, 25%, 10%);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  min-height: 55px;
  padding-inline: 35px;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 8px);
  width: 5px;
  transform: skewX(-16deg);
  background-color: hsla(258, 96%, 67%, 0.75);
}



/*SECTOR SECCIONES Y BOTON VIOLETA*/

.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(-16deg);
  background-color: hsla(258, 96%, 67%, 0.75);
  z-index: -1;
}


.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}


.section-subtitle {
  color: silver;
  font-size: 30px;
  margin-block-end: 10px;
  top:-50px;
}

.section-title::after {
  content: url(/images/title-underline.png);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}





/*HEADER*/

.header {
  position: relative;
  min-height: 1px;
}

.header-bottom {
  position: absolute;
  top: 1px ;
  left: 0;
  width: 100%;
  background-color: hsl(236, 17%, 17%);
  padding-block: 25px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}

.header-bottom .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-family: 'Lilita One', cursive;
  font-size: 4rem;
}



/* ITEM PARA NO MOSTRAR LA LISTA EN MOVIL*/


.navbar {
  background-color: hsl(277, 25%, 10%);
  color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  transition: 0.25s cubic-bezier(0.33, 0.85, 0.4, 0.96);
  overflow: hidden;
}



/* INICIO */

.hero-banner { display: none; }

.hero {
  --section-padding: 60px;
  margin-block-start: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 80vh;
  display: grid;
  align-items: center;
}

.hero-subtitle {
  color: hsla(258, 96%, 67%, 0.75);
  font-size: 2rem;
  font-weight: 700px;
  text-transform: uppercase;
  text-align: center;
}

.hero-title {
  margin-block: 15px 12px; }

.hero-text {
  color: hsl(0, 2%, 82%);
  margin-block-end: 45px;
  text-align: center;
}



/* NOSOTROS */

.section-wrapper {
  position: relative;
  background-image: url("/images/section-wrapper-bg.png");
  background-repeat: no-repeat;
  background-color: hsla(258, 51%, 23%, 0.75);
  margin-block-start: 140px;
}

.box-container {
  justify-content: center;
  text-align: center;

}
.box {
  color: silver;
  font-size: 25px;
  margin-block-end: 10px;
  top:-50px;
}

.video{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}




/* JUEGOS*/

.featured-game {
  background-image: url("/images/section-wrapper-bg.png");
  background-repeat: no-repeat;
  margin-block-start: 140px;
}

.featured-game .section-title {
  color: white;
  margin-block-end: 90px;
}

.featured-game .has-scrollbar { gap: 0; }


/*SECCION JUEGOS*/

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar {
  display: flex;
  place-items: center;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  border-radius: 2rem;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}
/*IMAGENES SECCION JUEGOS*/
.img-cover {
  width: 100%;
  height: 100%;
}


/* BLOG */

.blog {
  background: linear-gradient( rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url(../images/section-wrapper-bg-2.jpg) no-repeat center;
  position: relative;
  margin-block-start: 140px;
  
}

.blog .section-title {
  color: white }

.blog .section-text {
  color: hsl(0, 0%, 42%);
  margin-block: 50px 60px;
}

.img-cover{
  border-radius: 1rem;
  
}

.blog-list {
  display: grid;
  gap: 50px;
}

.blog-card .card-banner { margin-block-end: 30px; }

.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: silver;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.blog-card .card-meta-item a.item-text {
  transition: 0.25s ease }

.blog-card .card-meta-item a.item-text:is(:hover, :focus) {
  color:  hsla(258, 96%, 67%, 0.75);}

.blog-card .card-title {
  color: white;
  font-size: 2.2rem;
  font-family: 'Lilita One', cursive;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  margin-block: 10px 15px;
  transition: 0.25s ease;
}

.blog-card .card-title:is(:hover, :focus) { color: hsla(258, 96%, 67%, 0.75); }

.blog-card .card-text {
  color: hsl(0, 0%, 42%);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  margin-block-end: 25px;
}

.blog-card .card-link {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}

.blog-card .card-link:is(:hover, :focus) { color: hsla(258, 96%, 67%, 0.75);}




/* PRODUCTOS */

.shop {
  background: linear-gradient( rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), url(../images/section-wrapper-bg-2.jpg) no-repeat center;
  background-repeat: no-repeat;
  position: relative;
  margin-block-start: 140px;
  
}

.shop .section-title {
  color: white }

.shop .section-text {
  color: hsl(0, 0%, 42%);
  margin-block: 50px 60px;
}

.shop .img-cover{
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  height: 100%;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  
}

.shop-list {
  display: grid;
  gap: 50px;
}

.shop-card .card-banner { margin-block-end: 30px; }

.shop-card .card-title {
  color: white;
  font-size: 2.2rem;
  font-family: 'Lilita One', cursive;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  margin-block: 10px 15px;
  transition: 0.25s ease;
}

.shop-card .card-title:is(:hover, :focus) { color: hsla(258, 96%, 67%, 0.75); }



.shop-card .card-link {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}

.shop-card .card-link:is(:hover, :focus) { color: hsla(258, 96%, 67%, 0.75);}

.shop-card .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(258, 96%, 67%, 0.75);
}

.shop-card .card-btn {
  color: hsla(258, 96%, 67%, 0.75);
  padding: 7px;
  border: 2px solid hsl(274, 21%, 23%);
  border-radius: 4px;
  transition: 0.25s ease;
}

.shop-card .card-btn:is(:hover, :focus) {
  background-color: hsla(258, 96%, 67%, 0.75);
  color: hsl(277, 25%, 10%);
  border-color: hsla(258, 96%, 67%, 0.75);
}



/* FOOTER */

.footer { color: hsl(220, 6%, 59%); }

.footer-top { padding-block-end: 120px; }

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo { margin-block-end: 35px; }

.footer-text,
.footer .contact-item {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

.footer-text { margin-block-end: 15px; }

.contact-item:not(:last-child) { margin-block-end: 10px; }

.contact-item {
  display: flex;
  align-items: flex-start;
}

.contact-icon {
  margin-block-start: 3px;
  font-size: 17px;
}

.footer-list-title {
  position: relative;
  color: silver;
  font-family: 'Lilita One', cursive;
  text-transform: uppercase;
  font-weight: 800;
  padding-block-end: 20px;
  margin-block-end: 35px;
}

.footer-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: hsla(258, 96%, 67%, 0.75);
}

.footer-link {
  font-size: 1.9rem;
  max-width: max-content;
  transition: 0.25s ease;
  padding-block: 8px;
  font-weight: 500;
}

.footer-link:is(:hover, :focus) {
  color: hsla(258, 96%, 67%, 0.75);
  transform: translateX(5px);
}

.footer .social-wrapper { margin-block-end: 50px; }

.footer .social-list {
  display: flex;
  gap: 10px;
}

.footer .social-link {
  color: #fff;
  padding: 10px;
  border-radius: 2px;
}



.mapa {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  justify-content: right;
  align-items: right;
  width: fit-content;
}



.copyright {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: hsla(258, 96%, 67%, 0.75);
}







/* TIPO DE MEDIA /*


 /* responsive para una pantalla de m치s de 576px */

@media (min-width: 576px) {


  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 { --fs-2: 7rem; }



  /*HEADER */

  .header-actions { gap: 40px; }

  .cart-btn {
    display: block;
    position: relative;
    color: #fff;
    font-size: 20px;
  }

  .cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: hsla(258, 96%, 67%, 0.75);
    color: hsl(277, 25%, 10%);
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 3px 5px;
    line-height: 1;
    font-weight: 800;
  }



  /* NOSOTROS */

  .search-container :is(.search-field, .search-submit) {
    font-size: 3.6rem; }




  /* JUEGOS */

  .featured-game .scrollbar-item { min-width: 50%; }



  /* BLOG */

  .blog-list {
    grid-template-columns: 75%;
    justify-content: center;
  }


   /* PRODUCTOS */
      .shop-list {
    grid-template-columns: 74%;
    justify-content: center;
  }


  /* FOOTER */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

  .footer-brand,
  .footer-wrapper { grid-column: 1 / 3; }

}





/* responsive para una pantalla de m치s de 768px */

@media (min-width: 768px) {


  .container { max-width: 720px; }

  .scrollbar-item { min-width: calc(50% - 15px); }



  /* HERO */

  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }


  /* BLOG */

  .blog-list { grid-template-columns: 1fr 1fr; }

  
  /* PRODUCTOS */

  .shop-list { grid-template-columns: 1fr 1fr; }


  /* FOOTER */

  .footer-brand,
  .footer-wrapper { grid-column: auto; }


  .footer-bottom { text-align: left; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }



}





/* responsive para una pantalla de m치s de 992px */

@media (min-width: 992px) {

  .container { max-width: 960px; }

  :is(.header, .hero, .live-match) .container { max-width: unset; }

  .scrollbar-item { min-width: calc(33.33% - 20px); }



  /* HEADER */

  .header-top {
    display: block;
    background-image: url("/images/header-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }

  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .countdown-text {
    color: silver;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .countdown-text .span {
    display: inline-block;
    color: hsl(277, 25%, 10%);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 20px;
    margin-inline: 5px;
  }

  .header :is(.social-wrapper, .social-list) {
    display: flex;
    align-items: center;
  }

  .header .social-wrapper { gap: 15px; }

  .header .social-list { gap: 10px; }

  .social-title {
    color: #fff;
    font-family:  'Lilita One', cursive;;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .header .social-link {
    background-color: hsl(236, 13%, 23%);
    color: hsla(258, 96%, 67%, 0.75);
    font-size: 1.4rem;
    padding: 8px 10px;
  }

  .header-bottom { outline: 1px solid hsla(0, 0%, 0%, 0.2); }

  .header-bottom::before {
    display: block;
    top: 0;
    left: -15px;
    right: auto;
    width: 170px;
    --skewX: 16deg;
  }

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }

  .navbar-list { display: flex; }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: #fff;
    font-family: 'Lilita One', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
  }

  .navbar-link::before {
    display: block;
    opacity: 0;
    transition: 0.25s ease;
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
    color: hsl(277, 25%, 10%);
  }

  .navbar-link:is(:hover, :focus)::before { opacity: 1; }



  /* INICIO */

  .hero { text-align: left; }

  .hero-banner { display: block; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
  }

  .btn { margin-inline: 0; }





  /* NOSOTROS */

  .latest-game .has-scrollbar { padding-block-end: 0; }





  /* JUEGOS */

  .featured-game .scrollbar-item { min-width: 33.33%; }



  /* BLOG */

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  /* PRODUCTOS */

  .shop-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }



  /* FOOTER */

  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    column-gap: 80px;
  }

}





/* responsive para una pantalla de m치s de 1200px */

@media (min-width: 1200px) {

  .container,
  :is(.header, .hero, .live-match) .container { max-width: 1230px; }

  .h1 { --fs-2: 7.5rem; }

  .scrollbar-item { min-width: calc(25% - 22.5px); }



  /* HEADER */

  .header-bottom::before { width: 270px; }

  .navbar-link {
    font-size: 1.4rem;
    padding-inline: 25px;
  }



  /* INICIO */

  .hero .container { grid-template-columns: 1fr 1fr; }





  /* JUEGOS */

  .featured-game .has-scrollbar { padding-block-end: 0; }

  .featured-game .scrollbar-item { min-width: 25%; }




  /* FOOTER */

  .footer .container { grid-template-columns: 1fr 0.7fr 0.7fr 1fr; }

}