/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 97 |       &
 *    |       ^
 *    '
 *   scss\style.scss 97:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 97 \2502        &\d\a    \2502        ^\a    \2575 \a   scss\\style.scss 97:7  root stylesheet';
}
<<<<<<< HEAD



.copyright {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: hsla(258, 96%, 67%, 0.75);
}







/* TIPO DE MEDIA /*

 /* responsive para una pantalla de más de 375px */

@media (min-width: 375px) {

  .container {
    max-width: 375px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 { font-size: 5rem; }



  /*HEADER */

  .header-actions { gap: 40px; }

  .logo{
    font-size: 3rem;
  }

  .navbar {
    justify-content: space-between;

}

.navbar-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
}

.navbar-item {
    margin: 0 1.6rem;
    line-height: 1.7;

}

.navbar-link {
    font-size: 1.5rem;

}

.navbar-link .active {
    position: relative;

}
.navbar-link .active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: -3px;

}

  /* NOSOTROS */

  .search-container :is(.search-field, .search-submit) {
    font-size: 3.6rem; }




  /* JUEGOS */

  .featured-game .scrollbar-item { min-width: 50%; }



  /* BLOG */

  .blog-list {
    grid-template-columns: 90%;
    justify-content: center;
    display: grid;
  }


   /* PRODUCTOS */
      .shop-list {
    grid-template-columns: 80%;
    justify-content: center;
  }


  /* FOOTER */

  .footer-top .container { grid-template-columns: 1fr 1fr; 
  display: block;}

  .footer-brand,
  .footer-wrapper { grid-column: 1 / 1; }

}




 /* responsive para una pantalla de más de 576px */

@media (min-width: 576px) {


  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 { --fs-2: 7rem; }



  /*HEADER */

  .header-actions { gap: 40px; }



  

  /* NOSOTROS */

  .search-container :is(.search-field, .search-submit) {
    font-size: 3.6rem; }




  /* JUEGOS */

  .featured-game .scrollbar-item { min-width: 50%; }



  /* BLOG */

  .blog-list {
    grid-template-columns: 75%;
    justify-content: center;
  }


   /* PRODUCTOS */
      .shop-list {
    grid-template-columns: 74%;
    justify-content: center;
  }


  /* FOOTER */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

  .footer-brand,
  .footer-wrapper { grid-column: 1 / 3; }

}





/* responsive para una pantalla de más de 768px */

@media (min-width: 768px) {


  .container { max-width: 720px; }

  .scrollbar-item { min-width: calc(50% - 15px); }



  /* HERO */

  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  .navbar {
    justify-content: space-between;
}

.navbar-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
}

.navbar-item {
    margin: 0 2.4rem;
}

.navbar-link {
    font-size: 1.7rem;
}

.navbar-link .active {
    position: relative;
}
.navbar-link .active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
}

  /* BLOG */

  .blog-list { grid-template-columns: 1fr 1fr; }

  
  /* PRODUCTOS */

  .shop-list { grid-template-columns: 1fr 1fr; }


  /* FOOTER */

  .footer-brand,
  .footer-wrapper { grid-column: auto; }


  .footer-bottom { text-align: left; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }



}





/* responsive para una pantalla de más de 992px */

@media (min-width: 992px) {

  .container { max-width: 960px; }

  :is(.header, .hero, .live-match) .container { max-width: unset; }

  .scrollbar-item { min-width: calc(33.33% - 20px); }



  /* HEADER */

  .header-top {
    display: block;
    background-image: url("/images/header-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }

  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .social-title {
    color: #fff;
    font-family:  'Lilita One', cursive;;
    font-size: 1.5rem;
    font-weight: 700;
  }



  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }

  .navbar-list { display: block; }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: #fff;
    font-family: 'Lilita One', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 20px;
  }

  .navbar-link::before {
    display: block;
    opacity: 0;
    transition: 0.25s ease;
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
    color: hsl(277, 25%, 10%);
  }

  .navbar-link:is(:hover, :focus)::before { opacity: 1; }


  /* INICIO */

  .hero { text-align: left; }

  .hero-banner { display: block; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
  }

  .btn { margin-inline: 0; }





  /* NOSOTROS */

  .latest-game .has-scrollbar { padding-block-end: 0; }





  /* JUEGOS */

  .featured-game .scrollbar-item { min-width: 33.33%; }



  /* BLOG */

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  /* PRODUCTOS */

  .shop-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }



  /* FOOTER */

  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    column-gap: 80px;
    display: block;
  }

}





/* responsive para una pantalla de más de 1200px */

@media (min-width: 1200px) {

  .container,
  :is(.header, .hero, .live-match) .container { max-width: 1230px; }

  .h1 { --fs-2: 7.5rem; }

  .scrollbar-item { min-width: calc(25% - 22.5px); }



  /* HEADER */

  .header-bottom::before { width: 270px; }

  .navbar-link {
    font-size: 1.7rem;
    padding-inline: 40px;
  }
  



  /* INICIO */

  .hero .container { grid-template-columns: 1fr 1fr; }





  /* JUEGOS */

  .featured-game .has-scrollbar { padding-block-end: 0; }

  .featured-game .scrollbar-item { min-width: 25%; }




  /* FOOTER */

  .footer .container { grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  display: flex;}

}
=======
>>>>>>> 938790955d104023ab3a1cb1f80101707860c522
