.navbar {
    background-color: white;
    padding: $size2 $size4 !important;
    @media (max-width: 576px) {
        padding: $size2 !important;
    }
}

.navbar-toggler-icon {
    background-image: url(./images/Icono.png) !important;
}

.navbar-item{
    font-family: $font;
    font-weight: $weight2;
    font-size: $size2;
    color: $color5;
}

.navbar-link:hover{
    color: $color1 !important;
}

.navbar-link:active{
    color: $color2 !important;
}