/*JUEGOS*/


.featured-game {
    background-image: nth($img , 2 );
    background-repeat: no-repeat;
    margin-block-start: nth($size , 18 );
  
    .section-title {
      color: nth($colors , 1 );
      margin-block-end: nth($size , 18 );
    }
  
    .has-scrollbar {
      gap: 0;
    }
  }
  
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar {
    display: flex;
    place-items: center;
    gap: nth($size , 14 );
    overflow-x: auto;
    padding-block-end: nth($size , 14 );
    border-radius: nth($rem , 6 );
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  }
  
  
  
  /*IMAGENES SECCION JUEGOS*/
  .img-cover {
    width: 100%;
    height: 100%;
  }