
/*PRODUCTOS*/
.shop {
    background: linear-gradient(rgba(21, 21, 46, 0.5), rgba(21, 21, 46, 0.5)), nth($img , 3 ) no-repeat center;
    position: relative;
    margin-block-start: nth($size , 20 );
  
    .section-title {
      color: nth($colors , 1 );
    }
  
    .section-text {
      color: nth($colors , 8 );
      margin-block: nth($size , 16 ) nth($size , 17 );
    }
  
    .img-cover {
      background-color: nth($colors , 1 );
      border-radius: nth($rem , 2 );
      width: 90%;
      height: 100%;
      box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);;
    }
  
    &-list {
      display: grid;
      gap: nth($size , 16 );
    }
  
    &-card {
      .card-banner {
        margin-block-end: nth($size , 14 );
      }
  
      .card-title {
        color: nth($colors , 1 );
        font-size: nth($rem , 7 );
        font-family: nth($font , 1 ), nth($font , 2 );
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2;
        margin-block: nth($size , 9 ) nth($size , 10 );
        transition: 0.25s ease;
  
        &:is(:hover, :focus) {
          color: nth($colors ,2 );
        }
      }
    }
  }

  
  .shop-card {
    .card-link {
      color: nth($colors , 2 );
      font-size: 1.9rem;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: nth($size , 5 );
      transition: 0.25s ease;
  
      &:is(:hover, :focus) {
        color: nth($colors , 2 );
      }
    }
  
    .card-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: nth($colors , 2 );
    }
  
    .card-btn {
      color: nth($colors , 2 );
      padding: nth($size , 7 );
      border: nth($size , 3 ) solid nth($colors , 9 );
      border-radius: nth($size , 5 );
      transition: 0.25s ease;
  
      &:is(:hover, :focus) {
        background-color: nth($colors , 2 );
        color: nth($colors , 10 );
        border-color: nth($colors , 2 );
      }
    }
  }